/* This file is used to define the global styles for the application */

/* Styling for the root node */
.background {
    -fx-background-color: #FFFFFF;
}

/* Styling for the header text */
.headerText {
    -fx-font-family: "Inter";
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: black;
}

/* Styling for the header */
.header {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 25 25 5 5;
    -fx-border-color: transparent;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 10, 0.0, 0, 4);
}

/* Styling for the header buttons */
.headerButton {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 25;
    -fx-border-color: transparent;
    -fx-text-fill: black;
    -fx-font-family: "Inter";
    -fx-font-size: 13px;
    -fx-font-weight: bold;
    -fx-alignment: center;
}

.actionButton {
    -fx-background-color: #15AAFE;
    -fx-background-radius: 25;
    -fx-border-color: transparent;
    -fx-text-fill: #ffffff;
    -fx-font-family: "Inter";
    -fx-font-size: 13px;
    -fx-font-weight: bold;
    -fx-alignment: center;
}

.headerButton,
.actionButton {
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 10, 0.0, 0, 4),
    dropshadow(gaussian, rgba(0,0,0,0.3), 10, 0.0, 0, -4);
}

.headerButton:hover,
.actionButton:hover,
.notificationBubble {
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 20, 0.0, 0, 6),
    dropshadow(gaussian, rgba(0,0,0,0.3), 20, 0.0, 0, -6),
    innershadow(gaussian, rgba(0,0,0,0.3), 10, 0.0, 0, -4);
}

.headerButton:selected,
.headerButton:pressed,
.actionButton:selected,
.actionButton:pressed {
    -fx-effect: innershadow(gaussian, rgba(0,0,0,0.3), 10, 0.0, 0, 6),
    innershadow(gaussian, rgba(0,0,0,0.3), 10, 0.0, 0, -4);
}

.tooltip:showing {
    -fx-background-color: #343434;
    -fx-text-fill: #eaeaea;
    -fx-font-size: 10px;
    -fx-font-family: "Inter";
    -fx-border-width: 0px;
    -fx-background-radius: 5;
}

.insideFrames {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 25 25 25 25;
    -fx-border-color: transparent;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 10, 0.0, 0, 4);
}

.textForLists {
    -fx-font-family: "Inter";
    -fx-font-size: 20px;
    -fx-text-fill: black;
    -fx-border-color: transparent;
    -fx-alignment: center-left;

}
.quantityText {
    -fx-font-family: "Inter";
    -fx-font-size: 20px;
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-border-color: transparent;
    -fx-alignment: center-right;
}
.addAndMore {
    -fx-background-color: transparent;
    -fx-font-size: 30;
    -fx-text-fill: #15AAFE;
}

.addAndMore.black:hover {
    -fx-cursor: hand;
    -fx-text-fill: #000000;
}
.addAndMore.white:hover {
    -fx-cursor: hand;
    -fx-text-fill: #FFFFFF;
}

/* Styling for the tables */
.table-view {
    -fx-background-color: #f5f5f5;
    -fx-border-radius: 20;
    -fx-border-color: #d3d3d3;
    -fx-border-width: 1;
    -fx-padding: 20px, 0px , 20px, 0px;
}

/* Styling for the buttons */
.table-view .scroll-bar,
.scroll-bar {
    -fx-background-color: #f5f5f5;
    -fx-border-radius: 5;
    -fx-opacity: 0;
}
.table-view .scroll-bar:hover,
.table-view .scroll-bar:pressed,
.scroll-bar:hover,
.scroll-bar:pressed {
    -fx-opacity: 1;
}
.table-view .scroll-bar .increment-button,
.table-view .scroll-bar .decrement-button,
.scroll-bar .increment-button,
.scroll-bar .decrement-button {
    -fx-opacity: 0;
}
.table-view .scroll-bar .thumb,
.scroll-bar .thumb {
    -fx-background-color: #d3d3d3;
    -fx-background-radius: 20;
    -fx-border-radius: 20;
    -fx-border-color: #d3d3d3;
    -fx-border-width: 1;

    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 10, 0.0, 0, 4),
    dropshadow(gaussian, rgba(0,0,0,0.3), 6, 0.0, 0, -4)
    innershadow(gaussian, rgba(0,0,0,0.3), 6, 0.0, 2, -4);
}

.table-view .column-header-background {
    -fx-max-height: 0;
    -fx-pref-height: 0;
    -fx-min-height: 0;
}

.table-row-cell {
    -fx-background-color: #ffffff;
    -fx-background-radius: 25;
    -fx-border-width: 10;
    -fx-border-color: #f5f5f5;
    -fx-border-radius: 20;
    -fx-padding: 10px, 30px, 10px, 30px;
    -fx-spacing: 10px;
}


.blackBackground {
    -fx-background-color: black;
}

.whiteText {
    -fx-text-fill: white;
}

.titleText {
    -fx-font-size: 30;
    -fx-font-family: "Inter";
}

.breadText {
    -fx-font-size: 20px;
    -fx-font-family: "Inter";
    -fx-text-fill: black;
    -fx-font-style: italic;
}

.notificationBubble {
    -fx-text-fill: #fdfdfd;
    -fx-alignment: center;
    -fx-background-color: #ef0000;
    -fx-font-family: "Inter Semi Bold";
    -fx-font-weight: bold;
    -fx-font-size: 12px;
    -fx-min-height: 30px;
    -fx-min-width: 30px;
    -fx-background-radius: 25;
    -fx-border-width: 0;
}

.textForTextFields {
    -fx-font-family: "Inter";
    -fx-font-weight: bold;
    -fx-font-size: 20px;
    -fx-text-fill: black;
    -fx-border-color: transparent;
}
.text-field {
    -fx-background-color: #f5f5f5;
    -fx-background-radius: 25;
    -fx-border-color: #d3d3d3;
    -fx-border-radius: 25;
    -fx-border-width: 1;
    -fx-font-family: "Inter";
    -fx-font-size: 20px;
    -fx-text-fill: black;
    -fx-padding: 10px;
}
